.btn {
  border: 2px solid var(--text-default);
  background-color: var(--background);
  padding: 4px 16px;
  border-radius: 50px;
  font-size: 2rem;
  transition: background-color 1s ease-out;
  transition: color 0.5s ease-out;
}

.btn:hover {
  border-color: var(--text-hover);
  background-color: var(--button-hover);
  color: var(--text-hover) ;
  cursor: pointer;
}