.hero {
  margin: 10rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.hero-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
  box-sizing: border-box;
}

.hero-paragraph {
  max-width: 80%;
  text-align: justify;
    max-width: 700px;

}

.profile-picture {
  height: 40rem;
  padding-left: 20px;
  padding-top: 20px;
}

@media (max-width: 1164px) {
  .hero{
    justify-content: center;
  }

  .profile-picture {
    padding: 40px;
  }
}