.navbar {
  display: flex;
  justify-content: space-between;
}

.navitems {
  display: flex;
  justify-content: end;
  align-items: center;
}

.item {
  font-size: 2.5rem;
  margin: 0 1.3rem;
  border-bottom: 1px solid var(--background);
  transition: border 0.3s ease-out;
}

.item:hover {
  border-bottom: 1px solid var(--text-default);
}

@media (max-width: 630px) {
  .navbar {
    justify-content: center;
  }
  .navitems {
    display: none;
  }
}